body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}

.header-main{
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.link {
    font-size: 16px;
    color: aquamarine;
}

.header-second {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.header-third {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: ;
    font-size: 21px;
    color: gray;
}

.header-fourth {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: ;
    font-size: ;
    color: white;
}

.link {
    font-size: 16px;
    color: aquamarine;
}

.copyright{
    text-align: right ;
    font-family: ;
    font-weight: ;
    font-size: ;
    color: gray;
}